body{
    margin:0;
    user-select: none;
    background-color:#ECECEC;
    color: #333333;
}

a {
    text-decoration: none;
}

.main {
    width: 100%;
}

.container{
    width:80%;
    margin:0 auto;
}

header{
    padding-top: 10px;
    padding-bottom: 10px;
    height:100px;
    background-color:#D9D8D9;
}

.main .header-left {
    float:left;
    height: 100px;
    line-height:100px;
    margin-top:0;
    margin-bottom:0;
}

.main .header-right{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    width:100px;
    text-align: center;
    margin-top:35px;
    background-color:#999;
    border-radius: 5px;
    color: white;
    float:right;
    box-shadow: 0 3px #666;
}

.main .header-right:hover{
    cursor: pointer;
}

.main .header-right a{
    color:white;
}

.main header h1{
    letter-spacing:5px;
    margin-right:30px;
    font-size:50px;
}
.main .btn {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    width: 100px;
    text-align: center;
    margin-right: 30px;
    background-color: #999;
    border-radius: 5px;
    color: white;
    box-shadow: 0 3px #666;
    transition: opacity 0.3s;
    border: none;
    font-size: 16px;
    outline: 0;
  }

  .main .btn:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  .main .btn:active {
    position: relative;
    top: 3px;
    box-shadow: none;
  }

.state{
    border-collapse: separate;
    border: 2px solid #666;
    border-spacing: 0;
    border-radius:5px;
    overflow:hidden;
    background-color: white;
    width : 80%;
    box-shadow:0 0 10px #ccc;
}

.state th{
    width: 60px;
}.state td {
    width: 100px;
    border: solid 2px #666;
}

.state tr{
    text-align: center;
}

.state th{
    border-top: none;
    background-color : #ccc;
}

.state th:first-child,
.state td:first-child{
    border-left: none;
}

.state th:last-child,
.state td:last-child{
    width:20%;
    border-right: none;
}

.state tr:last-child td{
    border-bottom: none;
}
.state th + th,
.state td + td{
    border-left: none;
}

.state td{
    border-top: none;
}

/*****button*****/
  .message-btn{
    display: inline-block;
    height: 20px;
    line-height: 20px;
    width: 70px;
    margin-right:10px;
    text-align: center;
    /* margin-top: 35px; */
    background-color: #999;
    border-radius: 5px;
    color: white;
    /* float: right; */
    box-shadow: 0 3px #666;
    transition: opacity 0.3s;
    border: none;
  }

  .btn-gradient-radius {
    display: inline-block;
    padding: 7px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: #FFF;
    background: #746e6e;
    transition: .4s;
  }

  .btn-gradient-radius:hover {
    background: #5857575b;
  }

  .home {
    display: inline-block;
    width:70px;
    height:70px;
    line-height: 150px;
    margin-top:10px;
    text-decoration: none;
    display: block;
    text-align: center;
    color: #FFFFFF;
    background-image: url("../img/home.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color:#999;
    background-size:70%;
    border-radius: 50%;
    box-shadow: 0 3px #666;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    float:right;
  }

  .home:active{
    position: relative;
    top: 3px;
    box-shadow: none;
  }

  .home:hover {
    cursor: pointer;
    opacity: 0.7;
  }