body{
    margin:0;
    user-select: none;
    background-color:#ECECEC;
    color: #333333;
}

a {
    text-decoration: none;
}

.main {
    width: 100%;
}

.container{
    width:80%;
    margin:0 auto;
}

header{
    padding-top: 10px;
    padding-bottom: 10px;
    height:100px;
    background-color:#D9D8D9;
}

.main .header-left {
    float:left;
    height: 100px;
    line-height:100px;
    margin-top:0;
    margin-bottom:0;
}

.main .header-right{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    width:100px;
    text-align: center;
    margin-top:35px;
    background-color:#999;
    border-radius: 5px;
    color: white;
    float:right;
    box-shadow: 0 3px #666;
}

.main .header-right:hover{
    cursor: pointer;
}

.main header h1{
    letter-spacing:5px;
    margin-right:30px;
    font-size:50px;
}


  .state{
    border-collapse: separate;
    border: 2px solid #666;
    border-spacing: 0;
    border-radius:5px;
    overflow:hidden;
    background-color: white;
    width : 80%;
    box-shadow:0 0 10px #ccc;
}

.state th, .state td {
    border: solid 2px #666;
}

.state tr{
    text-align: center;
}

.state th{
    border-top: none;
    background-color : #ccc;
}

.state th:first-child{
    width:30%;
}

.state th:first-child,
.state td:first-child{
    border-left: none;
}

.state th:last-child,
.state td:last-child{
    border-right: none;
}

.state tr:last-child td{
    border-bottom: none;
}
.state th + th,
.state td + td{
    border-left: none;
}

.state td{
    border-top: none;
}

